@import url(https://fonts.googleapis.com/css?family=Lobster:regular&display=swap);
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
}
[class*="__container"]{
   max-width: 1230px;
   margin: 0 auto;
}
body{
   background: rgba(255, 0, 89, 1);
   font-family: "Lobster";
   font-size: 30px;

}
.header {
   margin-bottom: 50px;
}
.header__menu{
   box-shadow:  5px 5px 10px black;
   text-align: center;
   background: linear-gradient(to bottom, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
}
.header__menu li{
   display: inline-block;
}
.page__section {
   display: inline-block;
   height: 100%;
   width: 1230px;
   margin-bottom: 50px;
}
.page__section > div{
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   position: relative;
   left: 115px;
}
.page__section > div:not(:last-child){
   margin-right: 50px;
}
.translate-test {
   background-color: grey;
   width: 300px;
   height: 300px;
   display: inline-block;
}
.translate-test__text {
   padding: 100px;
   text-align: center;
   background-color: rgba(255, 0, 0, 0.5);
   width: 300px;
   height: 300px;
   display: inline-block;
   transition: all 0.3s ease 0s;
}
.translate-test__text:hover{
   transform: translate(30px, 30px);
}
.scale-test {
   background-color: grey;
   width: 300px;
   height: 300px;
   display: inline-block;
   z-index: 10;
}
.scale-test__text{
   padding: 100px;
   text-align: center;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 0, 0, 0.5);
   display: inline-block;
   transition: all 0.3s ease 0s;
   z-index: 10;
}
.scale-test__text:hover{
   transform: scale(1.5);
}
.rotate-test {
   display: inline-block;
   background-color: grey;
   width: 300px;
   height: 300px;
   z-index: 9;
}
.rotate-test__text {
   padding: 100px;
   text-align: center;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 0, 0, 0.5);
   display: inline-block;
   transition: all 0.3s ease 0s;
   z-index: 9;
}
.rotate-test__text:hover{
   transform: rotate(30deg);
}
.skew-test {
   background-color: grey;
   width: 300px;
   height: 300px;
   display: inline-block;
}
.skew-test__text {
   padding: 100px;
   text-align: center;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 0, 0, 0.5);
   display: inline-block;
   transition: all 0.3s ease 0s;
}
.skew-test__text:hover{
   transform: skew(10deg, 10deg);
}
.matrix-test {
   background-color: grey;
   width: 300px;
   height: 300px;
   display: inline-block;
   z-index: 20;
}
.matrix-test__text {
   padding: 100px;
   text-align: center;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 0, 0, 0.5);
   display: inline-block;
   transition: all 0.3s ease 0s;
   z-index: 20;
}
.matrix-test:hover .matrix-test__text{
   transform: matrix(2,4,1,-2,3,2);
}
.transform-origin-test {
   background-color: grey;
   width: 300px;
   height: 300px;
   display: inline-block;
   position: relative;
   top: 30px;
}
.transform-origin-test__text {
   padding: 100px;
   text-align: center;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 0, 0, 0.5);
   display: inline-block;
   transform-origin: top right;
   transition: all 0.3s ease 0s;
}
.transform-origin-test__text:hover{
   transform: rotate(16deg);
}
.perspective-test {
   background-color: grey;
   width: 300px;
   height: 300px;
   display: inline-block;
   perspective: 300px;
   perspective-origin: center;
}
.perspective-test__text {
   padding: 100px;
   text-align: center;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 0, 0, 0.5);
   display: inline-block;
   transition: all 0.3s ease 0s;
}
.perspective-test__text:hover{
   transform: rotateX(50deg);
}
.backface-test {
   background-color: grey;
   width: 300px;
   height: 300px;
   display: inline-block; 
   perspective: 50px;
   perspective-origin: center;
   transform-style: preserve-3d;
}
.backface-test__text {
   padding: 100px;
   text-align: center;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 0, 0, 0.5);
   display: inline-block;
   transition: all 0.3s ease 0s;
   backface-visibility: hidden;
}
.backface-test:hover .backface-test__text{
   transform:rotateY(180deg);
}
.rotate3d-test {
   background-color: grey;
   width: 300px;
   height: 300px;
   display: inline-block;
   perspective: 200px;
   perspective-origin: center;

}
.rotate3d-test__text{
   padding: 100px;
   text-align: center;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 0, 0, 0.5);
   display: inline-block;
   transition: all 0.3s ease 0s;
}
.rotate3d-test__text:hover{
   transform: rotate3d(2,35,24, 15deg);
}